{% if event %}
    <a href="{{ route('event', {slug: event.getSlug}) }}">
        <div class="rectanglePleinEvenement"></div>
        <img src="{{ event.image }}" alt="{{ event.title }}">
        <div class="bordureRectangleEvenement">
            <p>{{ event.title }}</p>
            <p>{{ event.category.name }}</p>
            <p>{{ event.date|date('d/m/Y') }} à {{ event.date|date('H:m') }}</p>
        </div>
    </a>
{% endif %}