{% extends 'layout.html.twig' %}

{% block title %}  Evènement ! {% endblock %}

{% block pagetitle %} <h1>Nous te disons tout ce qu'il faut savoir sur cet évènement !</h1> {% endblock %}

{% block body %}
    <div>
        <span class="iconify" data-icon="fontisto:smiley"></span>
    </div>

    <main>
        <section id="infosEvenement">
            <div>
                <img src="{{ event.image }}" alt="{{ event.title ~ 'image' }}">
                <div>
                    <div class="bordureRectangle"></div>
                    <div class="bordureRectangle"></div>
                    <div class="rectanglePlein" id="rectanglePleinEvenement"></div>
                </div>
            </div>

            <div>
                <ul>
                    <li><h1 style="text-align: left">{{ event.title }}</h1></li>
                    <li><p>{{ event.date|date('d/m/Y') }} à {{ event.date|date('H:m') }}</p></li>
                    <li><p>{{ event.description }}</p></li>
                    <li><p>{{ event.price }} €</p></li>
                    <li><p>15 places restantes</p></li>
                </ul>

                <a href="#" class="btnAvecFond">Je m'inscris <i class="fa-solid fa-pencil"></i></a>
            </div>

            <div>
                <img src="/img/icones/{{ event.category.slug }}.svg" alt="icone sport">
                <p>{{ event.category.name }}</p>
            </div>

        </section>

        <section id="adresseEvenement">
            <div>
                <i class="fa-solid fa-location-dot"></i>
            </div>
            {% set latitude = event.venue.latitude %}
            {% set longitude = event.venue.longitude %}
            {% if latitude and longitude %}
            <iframe src="https://maps.google.com/maps?q={{ latitude }},{{ longitude }}&hl=es;z=14&amp;output=embed"
                    allowfullscreen="" loading="lazy"></iframe>
            {% endif %}
            <div>
                <div class="bordureRectangle"></div>
                <div class="bordureRectangle"></div>
                <div class="rectanglePlein"></div>
            </div>
        </section>
    </main>

{% endblock %}