{% extends 'layout.html.twig' %}

{% block title %} <h1>Les évènements Afterwork</h1> {% endblock %}

{% block body %}
    <main>

        <section id="evenements">

            <div>
                {% if events %}
                    {% for event in events %}
                        <a href="detailsEvenement.html">
                            <div class="rectanglePleinEvenement"></div>
                            <img src="{{ event.image }}" alt="{{ event.title }}">
                            <div class="bordureRectangleEvenement">
                                <p>{{ event.title }}</p>
                                <p>{{ event.category.name }}</p>
                                <p>{{ event.date|date('d/m/Y') }} à {{ event.date|date('H:m') }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>Oh non! Pas d'évènements pour la catégorie {{ category.name|lower }}</h2>
                {% endif %}
            </div>

            <p>
                <a href="#evenements" id="numPageEvenement">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
            </p>

        </section>
    </main>
{% endblock %}